Repository mongodb/docs-java, pull requests merged in 2024-11, with the labels that each got.

#593 [Backport v5.2] DOCSP-44901 TOC Relabel
  source/fundamentals.txt
  source/fundamentals/builders.txt
  source/fundamentals/connection.txt
  source/fundamentals/crud.txt
  source/fundamentals/crud/read-operations.txt
  source/fundamentals/crud/write-operations.txt
  source/fundamentals/data-formats.txt
  source/index.txt
  source/usage-examples.txt
  source/usage-examples/delete-operations.txt
  source/usage-examples/find-operations.txt
  source/usage-examples/insert-operations.txt
  source/usage-examples/update-operations.txt
Labels: backport v5.1, backport v5.0

#594 [Backport v5.1] DOCSP-44901 Shorten TOC
  .github/workflows/backport.yml
  source/fundamentals.txt
  source/fundamentals/builders.txt
  source/fundamentals/connection.txt
  source/fundamentals/crud.txt
  source/fundamentals/crud/read-operations.txt
  source/fundamentals/crud/write-operations.txt
  source/fundamentals/data-formats.txt
  source/index.txt
  source/usage-examples.txt
  source/usage-examples/delete-operations.txt
  source/usage-examples/find-operations.txt
  source/usage-examples/insert-operations.txt
  source/usage-examples/update-operations.txt
Labels: backport v5.0, backport v4.11, backport v4.10

#595 [Backport v5.0] DOCSP-44902 Shorten TOC
  .github/workflows/backport.yml
  source/fundamentals.txt
  source/fundamentals/builders.txt
  source/fundamentals/connection.txt
  source/fundamentals/crud.txt
  source/fundamentals/crud/read-operations.txt
  source/fundamentals/crud/write-operations.txt
  source/fundamentals/data-formats.txt
  source/index.txt
  source/usage-examples.txt
  source/usage-examples/delete-operations.txt
  source/usage-examples/find-operations.txt
  source/usage-examples/insert-operations.txt
  source/usage-examples/update-operations.txt
Labels: backport v4.11, backport v4.10

#598 DOCSP-45218 - Clarify build tool language
  source/quick-start.txt
Labels: backport v5.2, backport v5.1, backport v5.0, backport v4.11, backport v4.10
